/* src/components/Accordion.module.css */

.accordion {
    width: 100%;
  }
  
  .accordionItem {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .accordionHeader {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .accordionHeader:hover {
    background-color: #e0e0e0;
  }
  
  .accordionHeader.active {
    background-color: #ddd;
  }
  
  .accordionContent {
    padding: 10px;
  }
  